{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Request List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_assembly.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar_assembly.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/table_adjust.js' %}"></script>
</head>
<body>
    {% include "partials/_sidebar_assembly.html" %}

    <div style="margin-left:220px;">
        <h1>Board Assembly</h1>
    </div>

    <div style="margin-left: 220px;">
        <table id="resizable-table">
            <thead>
                <tr id="header-row">
                  <th>Index</th>
                  <th>Project</th>
                  <th>Title</th>
                  <th>Board Serial</th>
                </tr>
              </thead>
            <tbody>
                {% for board in boards %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ board.project_name.name }}</td>
                        <td>{{ board.title }}</td>
                        <td><a href="/assembly/all_products/board/{{ board.part_number }}">{{ board.part_number }}</a></td>
                    </tr>
                {% empty %}
                    <tr><td colspan="7">No boards found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>