{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Board Summery</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_assembly.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar_assembly.css' %}">
    <link rel="stylesheet" href="{% static 'css/board_product_details.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/table_adjust.js' %}"></script>
</head>
<body>
    {% include "partials/_sidebar_assembly.html" %}

    <div style="margin-left:220px;">
        <h1>Board Summery</h1>
    </div>
    <div style="margin-left: 220px;">
        <div>
            <table>
                <thead>
                    <tr>
                      <th>Type</th>
                      <th>Request ID</th>
                      <th>Operator</th>
                      <th>Files</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="main-row">
                        <td>QC</td>
                        <td>{{ board.qc_req.pk }}</td>
                        <td>{{ board.qc_req.operator }}</td>
                        <td>
                          <form action="{% url 'open_file_QC' %}" method="post" style="display:inline;">
                              {% csrf_token %}
                              <input type="hidden" name="rd_url" value="{{ request.path }}">
                              <input type="hidden" name="file_path" value="C:\mech\QC\E{{ board.name }}V{{ board.version }}S{{ board.serial }}.docx"> 
                              <button type="submit" style="background:none; border:none; cursor:pointer;">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="darkred" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="pointer-events: none;">
                                      <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/>
                                          <polyline points="14 2 14 8 20 8"/>
                                              <line x1="8" y1="13" x2="16" y2="13"/>
                                              <line x1="8" y1="17" x2="16" y2="17"/>
                                          <line x1="8" y1="9" x2="12" y2="9"/>
                                      </svg>  
                              </button>    
                          </form> 
                        </td>
                    </tr>
                    <tr class="inner-table">
                        <td colspan="4">
                          <table>
                            <thead>
                              <tr>
                                <th>Description</th>
                                <th>Duration</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for qcop in board.boardoperation_set.all %}
                                {% if qcop.operation_type == 'QC' %}
                                <tr>
                                  <td>{{ qcop.description }}</td>
                                  <td>{{ qcop.duration }}</td>
                                </tr>
                                {% endif %}
                              {% empty %}
                                <tr><td colspan="3">No QC operations.</td></tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    {% for req in board.requests %}
                    <tr class="main-row" style="height: 55px;">
                        <td>{{ req.get_req_type_display }}</td>
                        <td>{{ req.pk }}</td>
                        <td>{{ req.for_user }}</td>
                        <td>
                          -
                        </td>
                    </tr>
                    <tr class="inner-table">
                        <td colspan="4">
                          <table >
                            <thead>
                              <tr>
                                <th>Description</th>
                                <th>Duration</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for op in board.boardoperation_set.all %}
                                {% if op.operation_type == 'AS' %}
                                <tr>
                                  <td>{{ op.description }}</td>
                                  <td>{{ op.duration }}</td>
                                </tr>
                                {% endif %}
                              {% empty %}
                                <tr><td colspan="4">No operations.</td></tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h1>Sepehr Summery</h1>
            <table>
              <thead>
                <tr>
                  <th>Index</th>
                  <th>Date</th>
                  <th>Restock</th>
                  <th>Files</th>
                </tr>
              </thead>
              <tbody>
                {% for sep in board.sepehrqc_set.all %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ sep.date }}</td>
                  <td>
                    {% if sep.restock_set.all %}
                      <a href="/QC/sepehr_history/{{seplog.pk}}" style="display: block; width:24px; margin: 0 auto">
                        <svg width="24px" height="24px" viewBox="2 2 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="pointer-events: none;">
                            <path d="M5.52786 16.7023C6.6602 18.2608 8.3169 19.3584 10.1936 19.7934C12.0703 20.2284 14.0409 19.9716 15.7434 19.0701C17.446 18.1687 18.766 16.6832 19.4611 14.8865C20.1562 13.0898 20.1796 11.1027 19.527 9.29011C18.8745 7.47756 17.5898 5.96135 15.909 5.02005C14.2282 4.07875 12.2641 3.77558 10.3777 4.16623C8.49129 4.55689 6.80919 5.61514 5.64045 7.14656C4.47171 8.67797 3.89482 10.5797 4.01579 12.5023M4.01579 12.5023L2.51579 11.0023M4.01579 12.5023L5.51579 11.0023" stroke="darkred" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 8V12L15 15" stroke="darkred" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </a>
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  <td>
                    <form action="{% url 'open_file_QC' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="rd_url" value="{{ request.path }}">
                        <input type="hidden" name="file_path" value="C:\mech\Sepehr\E{{ board.name }}V{{ board.version }}S{{ board.serial }}-{{ seplog.pk }}.pdf"> 
                        <button type="submit" style="background:none; border:none; cursor:pointer;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="darkred" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="pointer-events: none;">
                                <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"/>
                                    <polyline points="14 2 14 8 20 8"/>
                                        <line x1="8" y1="13" x2="16" y2="13"/>
                                        <line x1="8" y1="17" x2="16" y2="17"/>
                                    <line x1="8" y1="9" x2="12" y2="9"/>
                                </svg>  
                        </button>    
                    </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <div style="display: flex; justify-content: center;">
          <a class="butt" href="/assembly/bom_details/{{ board.pk }}">BOM Details</a>
        </div>
    </div>
    <script>
        document.querySelectorAll('.main-row').forEach((row) => {
        row.addEventListener('click', () => {
            row.classList.toggle('active');
            const next = row.nextElementSibling;
            if (next && next.classList.contains('inner-table')) {
            next.style.display = next.style.display === 'table-row' ? 'none' : 'table-row';
            }
        });
        });
    </script>
</body>
</html>