{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>BOM List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_assembly.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar_assembly.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/table_adjust.js' %}"></script>
    <style>
        tr.status-assembled td{
            background-color: #e1f7e7;
        }
        tr.status-tahvil td{
            background-color: #fcf4dc;
        }
        tr.status-empty td{
            background-color: #faeaeb;
        }
        tr.status-pending td{
            background-color: #eee;
        }
    </style>
</head>
<body>
    {% include "partials/_sidebar_assembly.html" %}
    
    <div style="margin-left:220px;">
        <h1>{{ project }} </h1>
        <h1>{{ title }}</h1>
    </div>
    <div style="margin-left: 220px;">
        <table id="resizable-table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th data-field="part_number">Part Number</th>
                    <th data-field="designator">Designators</th>
                    <th data-field="description">Description</th>
                    <th data-field="status">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for bom in boms %}
                <tr
                    {% if bom.status == 'AS' %}
                        class="status-assembled"
                    {% elif bom.status == 'TV' %}
                        class="status-tahvil"
                    {% elif bom.status == 'EPT' %}
                        class="status-empty"
                    {% else %}
                        class="status-pending"
                    {% endif %}
                >
                    <td>{{ forloop.counter }}</td>
                    <td>{{ bom.part_number }}</td>
                    <td>{{ bom.designators }}</td>
                    <td>{{ bom.description|default:"-" }}</td>
                    <td>{{ bom.get_status_display }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No BOMs available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="pagination" style="margin-top: 10px; text-align: center; font-family: sans-serif;"></div>
    </div>
    <script src="{% static 'js/bom_details.js' %}"></script>   
</body>
</html>