{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Part List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/table_adjust.js' %}"></script>
</head>
<body>
    {% include "partials/_sidebar.html" %}
    
    <div style="margin-left:220px;">
        <h1>Project Board</h1>
    </div>
    <div style="margin-left: 220px;">
        <table>
        <thead>
            <tr>
                <th>Project</th>
                <th>Board Name</th>
                <th>Board ID</th>
            </tr>
        </thead>
          <tbody>
              {% for s in serial %}
              <tr>
                  <td>{{ board.project_name.name }}</td>
                  <td>{{ board.title }}</td>
                  <td>E{{ board.name }}V{{ board.version }}S{{ s }}</td>
              </tr>
              {% empty %}
              <tr>
                  <td colspan="8">No board available.</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
</body>
</html>