{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>BOM List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/pageination.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/table_adjust.js' %}"></script>
</head>
<body>
    {% include "partials/_sidebar.html" %}
    
    <div style="margin-left:220px;">
        <h1>{{ project }}  {{ title}} V{{ version }}</h1>
    </div>
    <div style="margin-left: 220px;">
        <table id="resizable-table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th data-field="part_number">Part Number</th>
                    <th data-field="designator">Designators</th>
                    <th data-field="quantity">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for bom in boms %}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ bom.part_number }}</td>
                    <td>{{ bom.designators }}</td>
                    <td>{{ bom.count }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="10">No BOMs available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="pagination" style="margin-top: 10px; text-align: center; font-family: sans-serif;"></div>
    </div>
    <script src="{% static 'js/bom_preview.js' %}"></script>  
</body>
</html>