{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Insufficient parts</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/palet_preview.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/table_adjust.js' %}"></script>
    <script src="{% static 'js/table_sort.js' %}"></script>

</head>
<body>
    {% include "partials/_sidebar.html" %}
    
    <div style="margin-left:220px;">
        <h1>Request{{ req.id }}</h1>
    </div>
    <div style="margin-left: 220px;">
        <table id="resizable-table">
            <thead>
                <tr>
                    <th>Board</th>
                    <th>Part Number</th>
                    <th>Quantity</th>
                    <th>Order Number</th>
                </tr>
            </thead>
            <tbody>
                {% for palet in palets %}
                    <tr>
                        <td>{{ palet.bom.board.part_number }}</td>
                        <td>{{ palet.part.part_number }}</td>
                        <td>{{ palet.quantity }}</td>
                        <td>{{ palet.part.order.order_number }}</td>
                    </tr>
                {% empty %}
                    <tr><td colspan="4">No Palet found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>