{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Request List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_qc.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar_qc.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/table_adjust.js' %}"></script>
</head>
<body>
    {% include "partials/_sidebar_qc.html" %}

    <div style="margin-left:220px;">
        <h1>QC Boards</h1>
    </div>

    <div style="margin-left: 220px;">
        <table id="resizable-table">
            <thead>
                <tr id="header-row">
                  <th>Index</th>
                  <th>Project</th>
                  <th>Title</th>
                  <th>Board Serial</th>
                  <th>Status</th>
                  <th>Request ID</th>
                  <th>Operator</th>
                  <th>Finish QC</th>
                </tr>
              </thead>
            <tbody>
                {% for board in boards %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ board.project_name.name }}</td>
                        <td>{{ board.title }}</td>
                        <td>
                            <a href="{{ board.id }}" class="part-link" style="text-decoration: none;">
                                {{ board.part_number }}
                            </a>
                        </td>
                        <td>{{ board.get_status_display }}</td>
                        <td>{{ board.qc_req.id|default:"-" }}</td>
                        <td>{{ board.qc_req.operator.username|default:"-" }}</td>
                        <td>
                            <form action="{% url 'send_to_AS'%}" method="post" onsubmit="return confirmSubmit();">
                                {% csrf_token %}
                                <input type="hidden" name="toas" value="{{board.pk}}">
                                <button type="submit" style="background: none; border: none; cursor: pointer;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24" fill="purple" style="pointer-events: none;">
                                    <path d="M307.8 18.4c-12 5-19.8 16.6-19.8 29.6l0 80-112 0c-97.2 0-176 78.8-176 176 0 113.3 81.5 163.9 100.2 174.1 2.5 1.4 5.3 1.9 8.1 1.9 10.9 0 19.7-8.9 19.7-19.7 0-7.5-4.3-14.4-9.8-19.5-9.4-8.8-22.2-26.4-22.2-56.7 0-53 43-96 96-96l96 0 0 80c0 12.9 7.8 24.6 19.8 29.6s25.7 2.2 34.9-6.9l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-9.2-9.2-22.9-11.9-34.9-6.9z"/>
                                </svg>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="8">No boards found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function confirmSubmit() {
            return confirm("Are you sure you want to finishe QC for the selected board ?")
        }
    </script>
</body>

</html>