{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Request List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_finance.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar_finance.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/table_adjust.js' %}"></script>
    <script src="{% static 'js/table_sort.js' %}"></script>
</head>
<body>
    {% include "partials/_sidebar_finance.html" %}
    
    <div style="margin-left:220px;">
        <h1>Requests</h1>
    </div>
    <div style="margin-left: 220px;">
        <table id="resizable-table">
            <thead>
                <tr>
                    <th>Request ID</th>
                    <th>Board</th>
                    <th>Sets</th>
                    <th>Export</th>
                </tr>
            </thead>
            <tbody>
                {% for darkhast in darkhasts %}
                    <tr>    
                        <td>
                            <a href="{{ darkhast.pk }}" class="part-link" style="text-decoration: none;">{{ darkhast.pk }}</a>
                        </td>
                        <td>{{ darkhast.board.title }}-V{{ darkhast.board.version }}</td>
                        <td>{{ darkhast.sets }}</td>
                        <td>
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="darkhast" value="{{ darkhast.pk }}">
                                <button style="background: none; border: none; cursor: pointer;">
                                    <?xml version="1.0" encoding="utf-8"?>
                                    <svg fill="orange" width="24px" height="24px" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg" style="pointer-events: none;">
                                        <path d="m0 1016.081 409.186 409.073 79.85-79.736-272.867-272.979h1136.415V959.611H216.169l272.866-272.866-79.85-79.85L0 1016.082ZM1465.592 305.32l315.445 315.445h-315.445V305.32Zm402.184 242.372-329.224-329.11C1507.042 187.07 1463.334 169 1418.835 169h-743.83v677.647h112.94V281.941h564.706v451.765h451.765v903.53H787.946V1185.47H675.003v564.705h1242.353V667.522c0-44.498-18.07-88.207-49.581-119.83Z" />
                                    </svg>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="4">No request found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>