{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Order List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_finance.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar_finance.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
</head>
<body>
    {% include "partials/_sidebar_finance.html" %}
    
    <div style="margin-left: 220px;">
        <h1>Part Orders</h1>
        <table id="resizable-table">
            <thead>
                <tr>
                    <th data-field="order_number">Order Number</th>
                    <th data-field="status">Status</th>
                    <th data-field="vendor">Vendor</th>
                    <th data-field="track_number">T.N</th>
                    <th>Create Date</th>
                    <th>Payment Date</th>
                    <th>Arrive Date</th>
                    <th>Supply Date</th>
                    <th>Resupply Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr data-id="{{ order.id }}">
                    <td><a href="{{ order.id }}" class="part-link" style="text-decoration: none;">{{ order.order_number }}</a></td>
                    <td class="selectable" data-field="status" style="width: 100px;">{{ order.get_status_display }}</td>
                    <td class="editable" data-field="vendor">{{ order.vendor|default_if_none:"-" }}</td>
                    <td class="editable" data-field="track_number">{{ order.track_number|default_if_none:"-" }}</td>
                    <td>{{ order.order_date }}</td>
                    <td class="editable" data-field="peyment_date">{{ order.peyment_date|default_if_none:"-" }}</td>
                    <td class="editable" data-field="arrive_date">{{ order.arrive_date|default_if_none:"-" }}</td>
                    <td class="editable" data-field="supply_date">{{ order.supply_date|default_if_none:"-" }}</td>
                    <td class="editable" data-field="resupply_date">{{ order.resupply_date|default_if_none:"-" }}</td>
                    <td>
                        <button class="edit-btn" onclick="editRow(this)" style="background: none; border: none; cursor: pointer;" aria-label="Edit Order">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 20 20" fill="currentColor" style="pointer-events: none;">
                                <path d="M2 14.5V18h3.5L17 6.5l-3.5-3.5L2 14.5zM19.71 4.04a1.003 1.003 0 0 0 0-1.41L17.37.29a1.003 1.003 0 0 0-1.41 0l-1.83 1.83 3.5 3.5 1.83-1.83z"/>
                            </svg>
                        </button>
                    </td>
                    <td style="width: 50px;">
                        <form action="/finance/delete-order/{{order.pk}}" onsubmit="return confirmSubmit('{{order.order_number}}', '{{order.status}}')">
                            <button class="delete-btn" style="background: none; border: none; cursor: pointer;" aria-label="Delete Order">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 448 512" fill="currentColor" style="pointer-events: none;">
                                    <path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"></path>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="11">No orders available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="pagination" style="margin-top: 10px; text-align: center; font-family: sans-serif;"></div>
    <script src="{% static 'js/order_list.js' %}"></script> 
</html>